<div class="login-body">
  <div class="login-topbar">
    <img
      src="assets/layout/images/logo-olympia-white.png"
      alt="olympia-layout"
    />
    <span class="app-title">Dungeonplan</span>
  </div>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="login-panel">
    <h1>Sign in to Dungeonplan</h1>
    <div class="login-panel-inside">
      <a href="/api/logindiscord">
        <p-button
          label="Login with Discord"
          icon="pi pi-discord"
          styleClass="p-button-lg discord-button"
        ></p-button>
      </a>
    </div>
    <div class="separator"></div>
  </div>
</div>
