<mat-card class="login-card">
    <mat-toolbar color="primary">
        <mat-icon>account_circle</mat-icon>
        <span class="login-spacer"></span>
        <span class="adesso-color">Login</span>
    </mat-toolbar>
    <mat-card-content>
        <button class="animate-hover login-button" mat-raised-button color="accent" (click)="discordLogin()">
            <mat-icon class="login">discord</mat-icon>
            <span class="mat-icon-text">Login with Discord</span>
        </button>
    </mat-card-content>
</mat-card>