mat-card>mat-toolbar {
    margin: -24px 0 24px -24px;
    width: calc(100% + 48px);
}

mat-card-content {
    text-align: center;
}

.login-card {
    max-width: 600px;
    margin: auto;
}

.login-spacer {
    padding: 0 14px;
}

.animate-hover {
    background: linear-gradient(to right, #959fff 50%, #3f51b5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
}

.animate-hover:hover {
    background-position: left bottom;
}


.mat-icon-text {
    position: relative;
    top: -2px; 
    font-size: 1.5em;
    color: white;
}

.login-button {
    width: 250px;
    height: 50px;
    padding-left: 16px;
    text-align: left;
}
mat-icon.login {
    position: relative;
    top: 3px; 
    padding-right: 16px;
    color: white;
}